!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Hunkybill's Magic Wish List Application by Resistor Software
    %meta{'http-equiv' => 'Content-Type', 'content' => "text/html;charset=UTF-8"}
    %script{:src => "http://www.google.com/jsapi", :type => "text/javascript"}
    :javascript
      google.load('jquery', '1.4.1');

  %body
    #main
      #header
        %h1 Hunkybill's Magic Wish List Application
      #content= yield
    #footer &copy; 2010 Resistor Software

